*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(179, 67, 15);
    padding: 16px 0;
}

header, section h2, p{
    font-family: 'Poppins', sans-serif;
}
section h2, p{
    color: rgb(0, 0, 0);
}

header li{
    display: inline;
    margin-left: 16px;
    font-size: 15px;
}

li a{
    color: black;
}

header a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#where, #exp{
    background-color: rgba(179, 67, 15, 0.678);
}
#places, #contact{
    background-color: rgba(179, 67, 15, 0.527);
}

main img{
    height: 16rem;
    padding: 16px 0;
}

#where img, #exp img{
    margin-right: 32px;
}

#places img{
    margin-left: 32px;
}

form input, form textarea, form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

section h2{
    margin: 16px 0;
}

#where h2{
    display: block;
}

form{
    margin-top: 10px;
}

textarea{
    resize: none;
    height: 100px;
}

form button{
    border: none;
    background-color: rgba(179, 67, 15, 0.678);
    cursor: pointer;
}

form button:hover{
    background-color: rgba(179, 67, 15, 0.589);
}

input:focus, textarea:focus{
    outline-color: rgba(179, 67, 15, 0.589);
}

footer{
    background-color: rgb(179, 67, 15);
    padding: 16px 0;
}

.about img{
    height:100px;
    margin-right: 16px;
}